folium==0.11.0
streamlit-folium==0.1.0
MarkupSafe==1.1.1
matplotlib==3.2.2
notebook==6.2.0
numpy==1.19.5
pandas==1.2.0
pandocfilters==1.4.3
requests==2.25.1
seaborn==0.11.1
streamlit==0.74.1
gapminder==0.1
streamlit-embedcode==0.1.2
